name: Linting, analysis, tests
on:
- pull_request
- push

env:
  PHP_VERSION: 8.3

jobs:
  review_codestyle:
    name: PHP
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Get PHP Versions
      id: php-version
      uses: antfroger/php-version-action@v1
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ steps.php-version.outputs.minimal }}
        coverage: none
        tools: composer:v2
    - name: Validate composer.json
      run: |
        composer validate --no-check-all --no-check-publish
    - name: Install composer dependencies
      run: |
        composer install --no-interaction --no-progress
        # Add vendor/bin to PATH for subsequent steps, see https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#adding-a-system-path
        composer config bin-dir --absolute >> "${GITHUB_PATH}"
    - name: phpunit
      run: |
        phpunit
    - name: phpstan
      run: |
        phpstan
    - name: phpcs
      run: |
        phpcs

  markdown_lint:
    name: Markdown
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: markdownlint
      uses: DavidAnson/markdownlint-cli2-action@v21

  dockerfile:
    name: dockerfile
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          trusted-registries: docker.io
