name: Scan container image

on: [push]

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  anchore:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Build the Container image
      run: docker build . --file Dockerfile --tag localbuild/testimage:latest
    - uses: anchore/scan-action@v7
      id: scan
      with:
        image: "localbuild/testimage:latest"
        severity-cutoff: critical
        fail-build: false
    - name: upload Anchore scan SARIF report
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }}
